@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .line-clamp-1 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }
  
  .line-clamp-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
}

/* Стили для всех полей ввода */
input:not([type="submit"]):not([type="button"]):not([type="checkbox"]):not([type="radio"]),
textarea,
select {
  border: 3px solid #099250;
  border-radius: 1.5rem;
  padding: 0.5rem 0.75rem;
  background-color: white;
  width: 100%;
}

input:not([type="submit"]):not([type="button"]):focus,
textarea:focus,
select:focus {
  outline: none;
  border-color: #067b0e;
  box-shadow: 0 0 0 5px rgba(1, 114, 12, 0.1);
}

/* Явный фон для полей */
input, textarea, select {
  background-color: rgb(255, 255, 255) !important;
}
